Tuple sederhana

In [ ]:
# Membuat sebuah tuple
my_tuple = (1, 2, 3, 4, 5)

# Mengakses elemen tuple
print(my_tuple[0])  # Output: 1
print(my_tuple[3])  # Output: 4

# Tuple bersifat tidak dapat diubah (immutable), jadi Anda tidak dapat menambahkan atau mengubah elemennya

1
4

Dictionary Sederhana

In [ ]:
# Membuat sebuah dictionary
my_dict = {
    "nama": "John",
    "umur": 30,
    "kota": "New York"
}

# Mengakses nilai dalam dictionary berdasarkan kunci (key)
print(my_dict["nama"])  # Output: John
print(my_dict["umur"])  # Output: 30

# Menambahkan item ke dictionary
my_dict["pekerjaan"] = "Insinyur"

# Menghapus item dari dictionary
del my_dict["kota"]

John
30

Cara Men delete tuple

In [ ]:
my_tuple = (1, 2, 3, 4, 5)

# Menghapus tuple
del my_tuple

# Mencoba mengakses tuple setelah dihapus akan menghasilkan error
# print(my_tuple)  # Ini akan menghasilkan NameError: name 'my_tuple' is not defined

Penggunaan tupple dengan satu elemen

In [ ]:
# Tuple dengan satu elemen (gunakan koma setelah elemen)
single_element_tuple = (42,)

# Anda juga dapat membuat tuple tanpa komentar, tetapi perlu hati-hati
# single_element_tuple = (42)  # Ini akan dianggap sebagai integer, bukan tuple

# Mengakses elemen dalam tuple
value = single_element_tuple[0]
print(value)  # Output: 42

# Memeriksa panjang tuple
length = len(single_element_tuple)
print("Panjang tuple:", length)  # Output: Panjang tuple: 1

# Iterasi melalui elemen-elemen tuple
for item in single_element_tuple:
    print(item)  # Output: 42

# Menambahkan tuple dengan satu elemen ke tuple lain
tuple1 = (1, 2, 3)
new_tuple = tuple1 + single_element_tuple
print(new_tuple)  # Output: (1, 2, 3, 42)

# Menggandakan tuple dengan satu elemen
duplicated_tuple = single_element_tuple * 3
print(duplicated_tuple)  # Output: (42, 42, 42)

# Memeriksa apakah elemen tertentu ada dalam tuple
is_present = 42 in single_element_tuple
print("Apakah 42 ada dalam tuple?", is_present)  # Output: Apakah 42 ada dalam tuple? True

# Menyusun tuple dengan satu elemen
single_element_tuple = (42,)  # Perhatikan penggunaan koma setelah elemen

42
Panjang tuple: 1
42
(1, 2, 3, 42)
(42, 42, 42)
Apakah 42 ada dalam tuple? True

Literasi Dictionary

In [ ]:
# Iterasi melalui key dan value dalam dictionary
for key, value in my_dict.items():
    print(key, ":", value)

# Output:
# nama : John
# umur : 30
# pekerjaan : Insinyur

nama : John
umur : 30
pekerjaan : Insinyur